package {{package}}.util;

public class Constants {

private Constants() {}

public static final String HIBERNATE_PROPERTIES_FILE_PATH = "hibernate.properties";
public static final String HIBERNATE_CONFIGURATION_FILE_PATH = "hibernate.cfg.xml";

}